*{
    padding: 0;
    margin: 0;
}
 .container {
     background-color: orangered;
     height: 568px;
     background-image: url(bg-intro-desktop.png);
     background-size: contain;
 }
 @media (min-width: 768px){
    .container {
            background-color: orangered;
            height: 568px;
            background-image: url(bg-intro-desktop.png);
            background-size: contain;
        }
   .learn{
    padding-top: 160px;
    padding-left: 30px;
    width: 430px;
    font-size: 16px;
    color: white;
   }
   .learn h2{
    padding-bottom: 10px;
   }
   .learn p{
    padding-top: 10px;
   }
   .tr{
    /* float: right;
    margin-right: 240px; */
    position: relative;
    bottom: 200px;
    /* left: 100px;  */
    
   }
   .tr h2{
    background-color: purple;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    width: 280px;
    height: 30px;
    border-radius: 10px;
    font-weight: 300;
    margin-right: 30px;
    margin-left: 440px;
   }
   .tr h2 a{
    font-weight: 900;
    color: white;
    padding-right: 4px;
    text-decoration: none;
   }
   .box{
    background-color: white;
    color: black;
    width: 280px;
    height: 290px;
    margin-top: 1px;
    margin-right: 70px;
    padding-top: 30px;
    /* padding-left: 40px; */
    text-align: center;
    border-radius: 10px;
    margin-left: 440px;
       position: relative;
        bottom: 180px;
        /* left: 610px; */
   }
.box input{
    width: 240px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;  
}
.box button{
    width: 250px;
    height: 35px;
    border-radius: 7px;
    background-color: green;
    color: white;
    margin-top: 10px;
}
.box h4{
    font-size: 9px;
    font-weight: bolder;
    padding-top: 8px;
}
.box h4 a{
    color: brown;
}

 }
@media (min-width: 1024px){
    .container {
            background-color: orangered;
            height: 568px;
            background-image: url(bg-intro-desktop.png);
            background-size: contain;
        }
   .learn{
    padding-top: 160px;
    padding-left: 100px;
    width: 480px;
    font-size: 18px;
    color: white;
   }
   .learn h2{
    padding-bottom: 10px;
   }
   .learn p{
    padding-top: 10px;
   }
   .tr{
    /* float: right;
    margin-right: 240px; */
    position: relative;
    bottom: 190px;
    /* left: 100px;  */
   }
   .tr h2{
    background-color: purple;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    width: 400px;
    height: 25px;
    border-radius: 10px;
    font-weight: 300;
    margin-right: 70px;
    margin-left: 620px;
   }
   .tr h2 a{
    font-weight: 900;
    color: white;
    padding-right: 4px;
    text-decoration: none;
   }
   .box{
    background-color: white;
    color: black;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-right: 70px;
    padding-top: 30px;
    /* padding-left: 40px; */
    text-align: center;
    border-radius: 10px;
    margin-left: 620px;
    
    
        position: relative;
        bottom: 180px;
        /* left: 610px; */
   }
.box input{
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;  
}
.box button{
    width: 320px;
    height: 35px;
    border-radius: 7px;
    background-color: green;
    color: white;
    margin-top: 10px;
}
.box h4{
    font-size: 9px;
    font-weight: bolder;
    padding-top: 8px;
}
.box h4 a{
    color: brown;
}

          
}
/* @media (min-width: 900px) {
    .learn {
        padding-top: 70px;
        padding-left: 60px;
        width: 480px;
        font-size: 18px;
    }

    .try {
        position: absolute;
        right: 1px;
        top: 40px;


    }

} */

@media (max-width: 600px){
    .container{
        height: 600px;
    }
    .learn{
        padding-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 30px;
    }
    .learn h2{
        font-size: 60px;
       
        color: white;
        text-align: center;
    }
    .learn p{
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        padding-top: 10px;
        font-weight: bolder;
        font-size: 15px;
    }
    .tr{
    width: 10px;
    }
     .tr h2 {
       background-color: purple;
       color: white;
       font-size: 14px;
       text-align: center;
       padding-top: 10px;
       padding-left: 15px;
       padding-right: 15px;
       margin-left: 75px;
       margin-top: 20px;
       /* width: 100px; */
       height: 30px;
       border-radius: 10px;
       font-weight: 300;
       margin-right: 40px;
     }
    .tr h2 a {
       font-weight: 900;
       color: white;
       padding-right: 4px;
       text-decoration: none;
    }
    .box {
        background-color: white;
        color: black;
        width: 300px;
        height: 284px;
        margin-top: 15px;
        margin-right: 50px;
        padding-top: 20px;
        text-align: center;
        border-radius: 10px;
        margin-left: 47px;
        margin-right: 40px;
        }
    
        .box input {
        width: 270px;
        height: 35px;
        padding-left: 10px;
        border-radius: 10px;
        }
                .box button {
                    width: 270px;
                    height: 35px;
                    border-radius: 7px;
                    background-color: green;
                    color: white;
                    margin-top: 10px;
                }
        
                .box h4 {
                    font-size: 9px;
                    font-weight: bolder;
                    padding-top: 8px;
                }
        
                .box h4 a {
                    color: brown;
                }
}




@media (max-width: 768px) {
    .container {
        height: 600px;
    }

    .learn {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 18px;
    }

    .learn h2 {
        font-size: 37px;
        color: white;
        text-align: center;
    }

    .learn p {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        padding-top: 10px;
        font-weight: bolder;
    }

    .tr h2 {
        background-color: purple;
        color: white;
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 10px;
       
        margin-top: 20px;
        width: 280px;
        height: 30px;
        border-radius: 10px;
        font-weight: 300;
        
        position: relative;
        left: 230px;
    }

    .tr h2 a {
        font-weight: 900;
        color: white;
        padding-right: 4px;
        text-decoration: none;
    }

    .box {
        background-color: white;
        color: black;
        width: 300px;
        height: 280px;
        margin-top: 15px;
        margin-right: 70px;
        padding-top: 20px;
        text-align: center;
        border-radius: 10px;
        position: relative;
            left: 230px;
           margin-right: 100px;
    }

    .box input {
        width: 270px;
        height: 35px;
        padding-left: 10px;
        border-radius: 10px;
    }

    .box button {
        width: 270px;
        height: 35px;
        border-radius: 7px;
        background-color: green;
        color: white;
        margin-top: 10px;
    }

    .box h4 {
        font-size: 9px;
        font-weight: bolder;
        padding-top: 8px;
    }

    .box h4 a {
        color: brown;
    }
}
/* @media (min-width: 200px) {
    .container {
        height: 700px;
            background-color: red;
            background-image: url(bg-intro-desktop.png);
            background-size: contain;
        }
    
        .learn {
            padding-top: 80px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 18px;
        }
    
        .learn h2 {
            color: white;
            text-align: center;
        }
    
        .learn p {
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            padding-top: 10px;
            font-weight: bolder;
        }
        .tr{
            position: relative;
                right: 200px;
        }
    
        .tr h2 {
            background-color: purple;
            color: white;
            font-size: 14px;
            text-align: center;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            margin-top: 20px;
            width: 230px;
            height: 35px;
            border-radius: 10px;
            font-weight: 300;
           
           
        }
    
        .tr h2 a {
            font-weight: 900;
            color: white;
            padding-right: 4px;
            text-decoration: none;
        }
    
        .box {
            background-color: white;
            color: black;
            width: 300px;
            height: 280px;
            margin-top: 15px;
            margin-right: 50px;
            padding-top: 20px;
            text-align: center;
            border-radius: 10px;
            position: relative;
                left: 56px;
                width: 270px;
        }
    
        .box input {
            width: 230px;
            height: 35px;
            padding-left: 10px;
            border-radius: 10px;
        }
    
        .box button {
            width: 270px;
            height: 35px;
            border-radius: 7px;
            background-color: green;
            color: white;
            margin-top: 10px;
        }
    
        .box h4 {
            font-size: 9px;
            font-weight: bolder;
            padding-top: 8px;
        }
    
        .box h4 a {
            color: brown;
        }
    } */

@media (max-width: 600px) {
    
    .container {
            height: 700px;
            background-color: orangered;
            background-image: url(bg-intro-desktop.png);
            background-size: contain;
        }
    
        .learn {
            padding-top: 80px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 18px;
        }
    
        .learn h2 {
            color: white;
            text-align: center;
        }
    
        .learn p {
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            padding-top: 10px;
            font-weight: bolder;
        }
    
        .tr {
            position: relative;
            right: 245px;
        }
    
        .tr h2 {
            background-color: purple;
            color: white;
            font-size: 14px;
            text-align: center;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            margin-top: 20px;
            width: 230px;
            height: 35px;
            border-radius: 10px;
            font-weight: 300;
    
    
        }
    
        .tr h2 a {
            font-weight: 900;
            color: white;
            padding-right: 4px;
            text-decoration: none;
        }
    
        .box {
            background-color: white;
            color: black;
            width: 300px;
            height: 280px;
            margin-top: 15px;
            margin-right: 50px;
            padding-top: 20px;
            text-align: center;
            border-radius: 10px;
            position: relative;
            left: 15px;
            width: 270px;
        }
    
        .box input {
            width: 230px;
            height: 35px;
            padding-left: 10px;
            border-radius: 10px;
        }
    
        .box button {
            width: 240px;
            height: 35px;
            border-radius: 7px;
            background-color: green;
            color: white;
            margin-top: 10px;
        }
    
        .box h4 {
            font-size: 9px;
            font-weight: bolder;
            padding-top: 8px;
        }
    
        .box h4 a {
            color: brown;
        }
}